body{
    font-family: sans-serif;
    background-color: rgb(212, 204, 204);
}

#grid1 {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-template-rows: 120px 120px;
    grid-gap: 30px;
    height: 50vh;
    align-content: space-around;
    justify-content: space-between;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    }
  
    


.box {
    background-color:rgb(107, 162, 217);
    background-image: url(placeholder-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:black;
    border-bottom: white;
    border-bottom-style: solid;
    border-bottom-width: 20px;
    border-radius: 8px;
    line-height: 220px;
    text-align: center;
    box-sizing: content-box;
    
}
  


    @media screen and (max-width: 1024px) {
        #grid1 {
        grid-template-columns: repeat(5, 1fr);
        }
        }
         
        @media screen and (max-width: 768px) {
        #grid1 {
        grid-template-columns: repeat(3, 1fr);
        }
        }
         
        @media screen and ( max-width: 414px) {
            #grid1 {
        grid-template-columns: repeat(1, 1fr);
            }
        }
 
    
        p{
            padding-top: 40px;
            
            
            
        }
        h1 {
            font-weight:normal; 
            }
            